body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
}
.wrapper {
  margin-top: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-size: 30px;
}
.wrapper button {
  border-radius: 5px;
}
.submit-div {
  margin-top: 50px;
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
}
.input {
  width: 500px;
  height: 40px;
  text-indent: 10px;
  font-size: 20px;
}
.submit-btn {
  width: 100px;
  height: 40px;
  cursor: pointer;
}
.todos-display {
  margin: auto;
  width: 600px;
}
.todo-ul li {
  list-style-type: none;
  display: flex;
  display: inline-block;
  width: 600px;
  height: auto;
  text-align: left;
  text-indent: 10px;
}

.fas {
  background-size: 30px;
}
.fa-check {
  color: grey;
  float: right;
  display: inline;
  cursor: pointer;
}

.fa-check:hover {
  color: green;
  -ms-transform: scale(1.1, 1.1);
  transform: scale(1.1, 1.1);
}
.fa-check-color {
  color: green;
}

.fa-trash-alt {
  color: red;
  float: right;
  cursor: pointer;
}
.fa-trash-alt:hover {
  -ms-transform: scale(1.1, 1.1);
  transform: scale(1.1, 1.1);
}
.fa-edit {
  color: black;
  float: right;
}
.fa-edit:hover {
  -ms-transform: scale(1.1, 1.1);
  transform: scale(1.1, 1.1);
  cursor: pointer;
}
.confirm {
  color: blue;
}
.checked {
  background-color: greenyellow;
}
