body {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;

  background: rgb(63, 94, 251);
  background: radial-gradient(
    circle,
    rgba(63, 94, 251, 1) 0%,
    rgba(252, 70, 107, 1) 100%
  );
  font-family: "QuickSand", sans-serif;

  --border-radius: 5px;
  --color-primary: #009579;
  --color-primary-dark: #03876f;
}
.wrapper {
  width: 600px;
  max-width: 600px; /* when mobile adjust width */
  margin: 1rem;
  margin-top: 10rem;
  padding: 1rem; /*	 rem = Relative to font-size of the root element => 2rem=36px */
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.5);
  border-radius: var(
    --border-radius
  ); /* selectin default values using var(--name,value)*/
  background: #e3e1e1;
}
.wrapper > *:first-child {
  margin: 0px;
  margin-bottom: 2rem;
  text-align: center;
}
.user-profile {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: var(--border-radius);
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.5);

  position: absolute;
  left: 0;
  top: 0;
  margin: 1rem;
  background: #e3e1e1;
}
.user-pp {
  height: 100px;
  width: 100px;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.5);
  margin: 0.5rem;
}
.user-pp-input {
  display: inline;
  width: 81px;
}
.user-profile-info {
  font-family: "QuickSand", sans-serif;
  font-size: 1rem;
  margin: 0.2rem;
  padding: 0.4rem;
  border: 1px solid #e3e1e1;
  border-radius: var(--border-radius);
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.2);
}
.logout-btn {
  padding: 0.5rem 1rem;
  margin: 0.5rem;
  font-weight: bold;
  font-size: 1rem;
  color: #ffffff;
  border: none;
  border-radius: var(--border-radius);
  outline: none;
  cursor: pointer;
  background: rgb(93, 93, 255);
}
.logout-btn:hover {
  background: var(--color-primary-dark);
}
.logout-btn:active {
  transform: scale(0.98);
}
.input {
  display: inline-block;
  width: 79%;
  padding: 0.75rem;
  box-sizing: border-box;
  font-size: 1.5rem;
  border-radius: var(--border-radius);
  border: 2px solid #dddddd;
  outline: none;
  background: #eeeeee;
  transition: background 0.2s, border-color 0.2s;
}
.input:focus {
  border-image: var(--color-primary); /*on focus apply this changes*/
  background: #ffffff;
}
.submit-btn {
  padding: 1rem 2rem;
  font-weight: bold;
  font-size: 1.3rem;
  color: #ffffff;
  border: none;
  border-radius: var(--border-radius);
  outline: none;
  cursor: pointer;
  background: var(--color-primary);
}
.submit-btn:hover {
  background: var(--color-primary-dark);
}
.submit-btn:active {
  transform: scale(0.98);
}
.todo-ul {
  display: inline-block;
  margin: 0.5rem;
  margin-top: 1rem;
  padding: 0;
  width: 97%;
}
.todo-ul li:nth-child(even) {
  background-color: rgba(128, 128, 128, 0.201);
}
.todo-ul li #text {
  color: #009579;
}
.todo-ul li {
  list-style-type: none;
  display: inline-block;
  font-size: 1.8rem;
  padding-left: 0.5rem;
  width: 100%;
  border-radius: var(--border-radius);
}
.fas {
  float: right;
  display: inline;
  cursor: pointer;
  padding: 0.3rem;
}
.fa-check:hover {
  color: rgb(6, 244, 6);
  -ms-transform: scale(1.1, 1.1);
  transform: scale(1.1, 1.1);
}
.check-icon-checked {
  color: rgb(6, 244, 6);
}
.fa-trash-alt:hover {
  color: red;
  -ms-transform: scale(1.1, 1.1);
  transform: scale(1.1, 1.1);
}

.fa-edit:hover {
  color: rgb(60, 60, 203);
  -ms-transform: scale(1.1, 1.1);
  transform: scale(1.1, 1.1);
  cursor: pointer;
}
.confirm {
  color: rgb(60, 60, 203);
}
.checked {
  background-color: greenyellow !important;
}
.submit-btn:disabled {
  background-color: gray;
}
